.header {
    color: white;
    height: 80px;
    background-color: #383e56;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-link{
    text-decoration: none;
    color: white;
}

.title{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
}